html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.syarat-list {
  margin : 0;
  padding: 0;
}

.syarat-list .syarat-list-item {
  list-style: none;
  
}
.active-soal {
  background-color:#36C2CF !important;
  color: #fff;
}

.active-soal-number {
  color : #fff
}


.form-custom input {
  border: none;
  margin-left: 20px;
}

.form-custom .text-muted-input {
  color : #B2B8CA;
}

.btn-tool {
  width: 240px;
  height: 74px;
  border-radius: 15px;
}



/* .btn-giveway::after{
  
} */

/* .btn-giveway.collapsed::after{
	color : gray;
  background: #fff;
  width: 176px;
  height: 40px;
  left: 447px;
  top: 691px;
  
} */
